[submodule "Frontend"]
	path = Frontend
	url = git@github.com:acostanoeliacba/IncubadoraFrontend.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:acostanoeliacba/IncubadoraBackend.git

[submodule "Incu-Backend"]
	path = Incu-Backend
	url = git@github.com:acostanoeliacba/IncubadoraBackend.git
[submodule "Incu-Frontend"]
	path = Incu-Frontend
	url = git@github.com:acostanoeliacba/IncubadoraFrontend.git
